In [1]:
import numpy as np
import pandas as pd
import warnings

In [2]:
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv('data/supermarket_sales.csv')

# How many total visits (number of invoices) were made by customers with different customer types?

In [4]:
df['Customer type'].value_counts()

Customer type
Member    501
Normal    499
Name: count, dtype: int64

# What are the product lines in the dataset?

In [5]:
df['Product line'].unique()

array(['Health and beauty', 'Electronic accessories',
       'Home and lifestyle', 'Sports and travel', 'Food and beverages',
       'Fashion accessories'], dtype=object)

# What is the average product price in each product line?

In [6]:
mean_unit_price = df.groupby('Product line')['Unit price'].mean()
print(mean_unit_price)

Product line
Electronic accessories    53.551588
Fashion accessories       57.153652
Food and beverages        56.008851
Health and beauty         54.854474
Home and lifestyle        55.316937
Sports and travel         56.993253
Name: Unit price, dtype: float64

# From which invoice did the store get the most profit?

In [7]:
df.loc[df['gross income'].idxmax()]

Invoice ID                         860-79-0874
Branch                                       C
City                                 Naypyitaw
Customer type                           Member
Gender                                  Female
Product line               Fashion accessories
Unit price                                99.3
Quantity                                    10
Tax 5%                                   49.65
Total                                  1042.65
Date                                 2/15/2019
Time                                     14:53
Payment                            Credit card
cogs                                     993.0
gross margin percentage               4.761905
gross income                             49.65
Rating                                     6.6
Name: 350, dtype: object

# Which branch of the store is the most profitable? What is its total income and in what city is it located?

In [8]:
profitable_branch = df.groupby('Branch')['gross income'].sum()

max_profitable_branch = profitable_branch.idxmax()
city_max_profitable_branch = df[df['Branch'] == max_profitable_branch]['City'].iloc[0]

print(f'Branch "{max_profitable_branch}" is the most profitable. This branch is located in {city_max_profitable_branch}.')

Branch "C" is the most profitable. This branch is located in Naypyitaw.

# Does the margin differ for different visits in the store?

In [9]:
if_unique = df.groupby('Invoice ID')['gross margin percentage'].nunique()

if if_unique.max() == 1:
    print('All visits have the same margin')
else: 
    print('The margin is different for different visits')

All visits have the same margin

# Which branch of the store has the most visits with the purchase of electronic accessories?

In [10]:
pivot = df.pivot_table(index=['Branch'], columns=['Product line'], values=['Invoice ID'],aggfunc='count')
pivot

                         Invoice ID                                         \
Product line Electronic accessories Fashion accessories Food and beverages
Branch
A                                60                  51                 58
B                                55                  62                 50
C                                55                  65                 66


Product line Health and beauty Home and lifestyle Sports and travel
Branch
A                           47                 65                59
B                           53                 50                62
C                           52                 45                45

# Display the number of visits per hour and conclude when the store has the most visits and why.

In [11]:
df['Time'] = pd.to_datetime(df['Time'])
df['Hour'] = df['Time'].dt.hour

print(df.iloc[:5][['Hour']])
print(df.groupby('Hour')['Invoice ID'].count())

   Hour
0    13
1    10
2    13
3    20
4    10
Hour
10    101
11     90
12     89
13    103
14     83
15    102
16     77
17     74
18     93
19    113
20     75
Name: Invoice ID, dtype: int64

The largest number of visits is at 7 p.m. I suppose, it's because most people have a standard working day, and they go to the store after work. The most popular hours for visits are 10 a.m., 1 p.m., 3 p.m., and 7 p.m. I think 10 o'clock is popular because it's when the shop opens, 13 o'clock and 15 o'clock are related to lunchtime shopping by working people, maybe also schoolchildren and students after classes or during a long break. The context of the country and city and how education is organized in them is important here. The 19th hour looks like the peak of the load after a working day on the way home.

# Which product line brings us the most profit?

In [12]:

gross_income_per_product_line = df.groupby('Product line')['gross income'].sum()
max_profitable_product_line = gross_income_per_product_line.idxmax()

print(gross_income_per_product_line, max_profitable_product_line)
print(f'We see that sales of {max_profitable_product_line} bring the most profit. Perhaps it makes sense to add to the assortment of this product line to increase profits even more')

Product line
Electronic accessories    2587.5015
Fashion accessories       2585.9950
Food and beverages        2673.5640
Health and beauty         2342.5590
Home and lifestyle        2564.8530
Sports and travel         2624.8965
Name: gross income, dtype: float64 Food and beverages
We see that sales of Food and beverages bring the most profit. Perhaps it makes sense to add to the assortment of this product line to increase profits even more

# What is the average purchase receipt for Member and Normal customer types?

In [13]:
mean_purchase_by_customer_type = df.groupby('Customer type')['Total'].mean()
print(mean_purchase_by_customer_type)

Customer type
Member    327.791305
Normal    318.122856
Name: Total, dtype: float64

Member buyers have a higher average check, so we need to motivate customers without a signed subscription to subscribe to the store

# Which gender has the highest average check in our stores on average?

In [14]:
mean_purchase_by_gender = df.groupby('Gender')['Total'].mean()

print(mean_purchase_by_gender)

Gender
Female    335.095659
Male      310.789226
Name: Total, dtype: float64

On average, women leave more money in our supermarkets, so our advertising should focus more on women